<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Stratis.Guru | @ViewBag.Title</title>
	<meta name="Content-Language" content="en">
	<meta name="Description" content="@(ViewBag.Description??"Stratis.Guru is a Simple and Free $STRAT ticker, an Stratis Address Generator and a Vanity Address service.")">
	<meta name="Keywords" content="stratis,bitcoin,cryptos,cryptocurrencies,coins,$STRAT,ticker,explorer,block explorer,vanity address,stratis block explorer,$strat block explorer,stratis generator,stratis price ticker,stratis preev,stratis vanity address,clint.network,SR2ZXnhRnMqJNoeDiCFUnaug7TKHJocwDd,">
	<meta name="Author" content="Clint.Network">
	<meta name="Identifier-Url" content="http://stratis.guru">
	<meta name="Reply-To" content="stratis-guru@volto.io">
	<meta name="Revisit-After" content="1 day">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="clint_network">
	<meta name="twitter:title" content="Stratis.Guru | Online Stratis ($STRAT) price ticker">
	<meta name="twitter:description" content="Stratis.Guru is a Simple and Free $STRAT ticker, an Stratis Address Generator and a Vanity Address service.">
	<link rel="icon" href="~/favicon.ico" />
	<link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="~/css/owl.carousel.min.css" rel="stylesheet" type="text/css">
	<link href="~/css/owl.theme.default.min.css" rel="stylesheet" type="text/css">
	<link href="~/npm/nprogress/nprogress.css" rel="stylesheet" type="text/css">
	<environment include="Development">
		<link href="~/css/default.css" rel="stylesheet" type="text/css">
	</environment>
	<environment exclude="Development">
		<link href="~/css/default.min.css" rel="stylesheet" type="text/css">
	</environment>
	@RenderSection("Style", false)
</head>
<body>
<div class="shadow-inset"></div>
<header class="header-area">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<nav class="main-nav">
					<a asp-controller="Home" asp-action="Index" class="logo ">
						<img src="~/images/logo.png" class="" alt="Stratis.guru"/> <span class="text-white">Stratis</span><span class="text-muted">.guru</span> <span class="text-info text-hide">v2</span>
					</a>
					<ul class="nav">
						<li class="@(Context.Request.Path.Equals(Url.Action("Index", "Home")) ? "active":"")"><a asp-action="Index" asp-controller="Home"><i class="fa fa-home"></i> HOME</a></li>
						<li class="@(Context.Request.Path.Equals(Url.Action("Lottery", "Home")) ? "active":"")"><a asp-action="Lottery" asp-controller="Home"><i class="fa fa-trophy"></i> LOTTERY</a></li>
						<li class="@(Context.Request.Path.Equals(Url.Action("Index", "BlockExplorer")) ? "active":"")"><a asp-action="Index" asp-controller="BlockExplorer"><i class="fa fa-cube"></i> BLOCK EXPLORER</a></li>
						<li class="@(Context.Request.Path.Equals(Url.Action("Vanity", "Home")) ? "active":"")"><a asp-action="Vanity" asp-controller="Home"><i class="fa fa-at"></i> VANITY</a></li>
						<li class="@(Context.Request.Path.Equals(Url.Action("Generator", "Home")) ? "active":"")"><a asp-action="Generator" asp-controller="Home"><i class="fa fa-qrcode"></i> GENERATOR</a></li>
						<li class="@(Context.Request.Path.Equals(Url.Action("Documentation", "Home")) ? "active":"")"><a asp-action="Documentation" asp-controller="Home"><i class="fa fa-book"></i> API</a></li>
						<li class="@(Context.Request.Path.Equals(Url.Action("About", "Home")) ? "active":"")"><a asp-action="About" asp-controller="Home"><i class="fa fa-info-circle"></i> ABOUT</a></li>
						@*<li><a asp-action="Contact" asp-controller="Home"><i class="fa fa-envelope"></i> CONTACT</a></li>*@
					</ul>
					<a class='menu-trigger'>
						<span>Menu</span>
					</a>
				</nav>
			</div>
		</div>
	</div>
</header>
@RenderBody()
<div id="crafted">
	<p class="text-center small">Proudly Crafted with 💖 by <a href="https://twitter.com/clint_network" target="_blank">Clint.Network</a> — Help me to maintain by sending some $STRAT at <a asp-controller="BlockExplorer" asp-action="Address" asp-route-address="SRCzydu7yjS2VGv2YuHZS83Nekx42PVPdy">SRCzydu7yjS2VGv2YuHZS83Nekx42PVPdy</a>.</p>
</div>
<script src="~/js/jquery-2.1.0.min.js"></script>
<script src="~/js/popper.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/particles.min.js"></script>
<script src="~/js/scrollreveal.min.js"></script>
<script src="~/js/jquery.downCount.js"></script>
<script src="~/js/parallax.min.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/particle-green.js"></script>
<script src="~/npm/nprogress/nprogress.js"></script>
<environment include="Development">
	<script src="~/js/default.js"></script>
</environment>
<environment exclude="Development">
	<script src="~/js/default.min.js"></script>
</environment>
@RenderSection("Scripts", false)
</body>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111742056-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-111742056-1');
</script>
<!--stratisguru-->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a48282c1ee2c396"></script>
<script type="text/javascript">
	$(document).ready(function(e) {
		NProgress.done();
	});
</script>
</html>