@model StratisAddressPayload
@{
    ViewBag.Title = "Stratis Address Generator";
    Layout = "_Layout";
}
<section class="welcome-area" id="welcome-1">
    <div class="header-token mt-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-5 align-self-center text-center">
                    <h2>Stratis Public Key</h2>
                    <img src="@Url.Action("Qr", new {value = Model.PublicKey})" class="qr"/>
                    <div class="input-group mb-3 input-group-lg mt-4 pl-5 pr-5">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-dark text-white" id="basic-addon1">PUB</span>
                        </div>
                        <input type="text" class="form-control bg-dark" value="@Model.PublicKey">
                        <div class="input-group-append">
                            <button class="btn btn-success" type="button"><i class="fa fa-copy"></i> Copy</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-5 align-self-center text-center">
                    <h2>Stratis Private Address</h2>
                    <img src="@Url.Action("Qr", new {value = Model.PrivateKey})" class="qr"/>
                    <div class="input-group mb-3 input-group-lg mt-4 pl-5 pr-5">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-dark text-white" id="basic-addon1">WIF</span>
                        </div>
                        <input type="text" class="form-control bg-dark" value="@Model.PrivateKey">
                        <div class="input-group-append">
                            <button class="btn btn-success" type="button"><i class="fa fa-copy"></i> Copy</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12 text-center">
                    <a asp-controller="Home" asp-action="Generator" asp-route-timestamp="@DateTime.Now.Ticks" class="btn-secondary-box"><i class="fa fa-refresh"></i> Generate New Address</a>
                    @*<p class="small extra mt-5">Disclaimer: We does not store the generated addresses but by security please don't for big amounts.</p>*@
                </div>
            </div>
        </div>
    </div>
</section>